<hank-accordion>
  <hank-section title="Paragraph A">
    This is paragraph A. This is paragraph A. This is paragraph A. This is paragraph A. 
    This is paragraph A. This is paragraph A. This is paragraph A. This is paragraph A. 
    This is paragraph A. This is paragraph A. This is paragraph A. This is paragraph A. 
    This is paragraph A. This is paragraph A. This is paragraph A. This is paragraph A. 
  </hank-section>
  <hank-section title="Paragraph B">
    This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
    This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
    This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
    This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
    This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
    This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
    This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
    This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
  </hank-section>
  <hank-section title="Paragraph C">
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
  </hank-section>
</hank-accordion>